# Pre-process CO2 emission data

In [22]:
#read the csv
import pandas as pd
df_CO2 = pd.read_csv('C:/Users/ryuya/Desktop/FIT3179_Visual Studio/FIT3179_Assignment2/data/CO2 emission by countries.csv',
                  encoding='latin1')
df_CO2.head()

,Country,Code,Calling Code,Year,CO2 emission (Tons),Population(2022),Area,% of World,Density(km2)
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²

In [ ]:
df_CO2['Country'].unique()

In [5]:
#Change the country name
df_CO2.loc[df_CO2['Country'] == 'United States', 'Country'] = 'United States of America'

df_CO2.loc[df_CO2['Country'] == 'Democratic Republic of Congo', 'Country'] = 'Dem. Rep. Congo'

df_CO2.loc[df_CO2['Country'] == 'Central African Republic', 'Country'] = 'Central African Rep.'

df_CO2.loc[df_CO2['Country'] == 'South Sudan', 'Country'] = 'S. Sudan'

df_CO2.loc[df_CO2['Country'] == 'Equatorial Guinea', 'Country'] = 'Eq. Guinea'

In [6]:
#rename the column name
df_CO2.rename(columns = {'CO2 emission (Tons)':'CO2_emission_tons', 
                        'Population(2022)':'Population_2022',
                        '% of World':'%_of_world',
                        'Density(km2)':'density_km2'}, 
                        inplace = True)
df_CO2.head()

,Country,Code,Calling Code,Year,CO2_emission_tons,Population_2022,Area,%_of_world,density_km2
0,Afghanistan,AF,93,1750,0.0,41128771.0,652230.0,0.40%,63/km²
1,Afghanistan,AF,93,1751,0.0,41128771.0,652230.0,0.40%,63/km²
2,Afghanistan,AF,93,1752,0.0,41128771.0,652230.0,0.40%,63/km²
3,Afghanistan,AF,93,1753,0.0,41128771.0,652230.0,0.40%,63/km²
4,Afghanistan,AF,93,1754,0.0,41128771.0,652230.0,0.40%,63/km²

In [7]:
#Filter data with year 2020
df_CO2_2020 = df_CO2.loc[df_CO2['Year'] == 2020]

# Pre-process GDP data

In [35]:
#read another csv 
df_GDP = pd.read_csv('C:/Users/ryuya/Desktop/FIT3179_Visual Studio/FIT3179_Assignment2/data/world_country_gdp_usd.csv')
df_GDP.head()

,Country Name,Country Code,year,GDP_USD,GDP_per_capita_USD
0,Aruba,ABW,1960,NaN,NaN
1,Africa Eastern and Southern,AFE,1960,2.129059e+10,162.726326
2,Afghanistan,AFG,1960,5.377778e+08,59.773234
3,Africa Western and Central,AFW,1960,1.040414e+10,107.930722
4,Angola,AGO,1960,NaN,NaN

In [36]:
df_GDP['Country Name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica',
       'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [37]:
df_GDP.loc[df_GDP['Country Name'] == "North Korea", 'Country Name']

Series([], Name: Country Name, dtype: object)

In [38]:
#Change the country name
df_GDP.loc[df_GDP['Country Name'] == 'United States', 'Country Name'] = 'United States of America'

df_GDP.loc[df_GDP['Country Name'] == 'Bahamas, The', 'Country Name'] = 'Bahamas'

df_GDP.loc[df_GDP['Country Name'] == 'Dominican Republic', 'Country Name'] = 'Dominican Rep.'

df_GDP.loc[df_GDP['Country Name'] == 'Gambia, The', 'Country Name'] = 'Gambia'

df_GDP.loc[df_GDP['Country Name'] == 'Russian Federation', 'Country Name'] = 'Russia'

df_GDP.loc[df_GDP['Country Name'] == 'Korea, Rep.', 'Country Name'] = 'South Korea'

df_GDP.loc[df_GDP['Country Name'] == "Korea, Dem. People's Rep.", 'Country Name'] = 'North Korea'

df_GDP.loc[df_GDP['Country Name'] == 'Brunei Darussalam', 'Country Name'] = 'Brunei'

df_GDP.loc[df_GDP['Country Name'] == 'Kyrgyz Republic', 'Country Name'] = 'Kyrgyzstan'

df_GDP.loc[df_GDP['Country Name'] == 'Slovak Republic', 'Country Name'] = 'Slovakia'

df_GDP.loc[df_GDP['Country Name'] == 'Iran, Islamic Rep.', 'Country Name'] = 'Iran'

df_GDP.loc[df_GDP['Country Name'] == 'Syrian Arab Republic', 'Country Name'] = 'Syria'

df_GDP.loc[df_GDP['Country Name'] == 'Egypt, Arab Rep.', 'Country Name'] = 'Egypt'

df_GDP.loc[df_GDP['Country Name'] == 'Yemen, Rep.', 'Country Name'] = 'Yemen'

df_GDP.loc[df_GDP['Country Name'] == 'South Sudan', 'Country Name'] = 'S. Sudan'

df_GDP.loc[df_GDP['Country Name'] == 'Central African Republic', 'Country Name'] = 'Central African Rep.'

df_GDP.loc[df_GDP['Country Name'] == 'Equatorial Guinea', 'Country Name'] = 'Eq. Guinea'

df_GDP.loc[df_GDP['Country Name'] == 'Congo, Dem. Rep.', 'Country Name'] = 'Dem. Rep. Congo'

df_GDP.loc[df_GDP['Country Name'] == 'Congo, Rep.', 'Country Name'] = 'Congo'

df_GDP.loc[df_GDP['Country Name'] == 'Solomon Islands', 'Country Name'] = 'Solomon Is.'

df_GDP.loc[df_GDP['Country Name'] == 'Eswatini', 'Country Name'] = 'eSwatini'

df_GDP.loc[df_GDP['Country Name'] == 'Venezuela, RB', 'Country Name'] = 'Venezuela'

In [68]:
#Filter data with year 2020
df_GDP_2020 = df_GDP.loc[df_GDP['year'] == 2020]
df_GDP_2020.head()

,Country Name,Country Code,year,GDP_USD,GDP_per_capita_USD
15960,Aruba,ABW,2020,2.496648e+09,23384.298790
15961,Africa Eastern and Southern,AFE,2020,9.216460e+11,1360.878645
15962,Afghanistan,AFG,2020,2.011614e+10,516.747871
15963,Africa Western and Central,AFW,2020,7.844460e+11,1709.764129
15964,Angola,AGO,2020,5.361907e+10,1631.431691

In [45]:
df_GDP_2020.loc[df_GDP_2020['Country Name'] == "North Korea"]

      Country Name Country Code  year  GDP_USD  GDP_per_capita_USD
16153  North Korea          PRK  2020      NaN                 NaN

In [64]:
df_GDP['GDP_USD'].min()

8824447.74

In [13]:
#Export data with all years
df_CO2.to_csv('processed_CO2.csv', index = False)

In [11]:
#Export CO2 data
df_CO2_2020.to_csv('CO2_2020.csv', index = False)

In [40]:
#Export GDP data
df_GDP_2020.to_csv('GDP_2020.csv', index = False)